In [39]:
import numpy as np 
import pandas as pd

In [40]:
Students_data = pd.read_excel('studentdemo.xlsx')
paired_data = pd.read_csv('pairdtestdata.csv')

In [41]:
Students_data.head()

  sex  age address internet romantic  Dalc  absences  G1  G2  G3
0   F   18       U       no       no     1         6   5   6   6
1   F   17       U      yes       no     1         4   5   5   6
2   F   15       U      yes       no     2        10   7   8  10
3   F   15       U      yes      yes     1         2  15  14  15
4   F   16       U       no       no     1         4   6  10  10

In [42]:
Students_data.describe()

              age        Dalc    absences          G1          G2          G3
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    1.481013    5.708861   10.908861   10.713924   10.415190
std      1.276043    0.890741    8.003096    3.319195    3.761505    4.581443
min     15.000000    1.000000    0.000000    3.000000    0.000000    0.000000
25%     16.000000    1.000000    0.000000    8.000000    9.000000    8.000000
50%     17.000000    1.000000    4.000000   11.000000   11.000000   11.000000
75%     18.000000    2.000000    8.000000   13.000000   13.000000   14.000000
max     22.000000    5.000000   75.000000   19.000000   19.000000   20.000000

In [43]:
from scipy.stats import ttest_1samp

# one sample t-test 
To test whether the sample mean and the hypothesized mean are equal or different 
Null hypothesis - no relationship or no difference thus have the same mean 
Alternative hypothesis - relationship between variables thus different means
If pvalue is less than 0.05 then we reject the null hypothesis otherwise we fail to reject 
if the sample mean is not significantly different tothe hypothesized then we reject the null hypothesis

In [44]:
tscore, pvalue = ttest_1samp(Students_data.age, popmean=17)
print("t Statistic:  {:.4f}".format(tscore))
print("P Value:  {:.4f}".format(pvalue))

if pvalue<0.05:
    print('The pvalue is less than alpha = 0.05, reject the null hypothesis')
else:
        print('Since pvalue is greater than 0.05, there isno sufficient evidence to reject the null hypothesis')

t Statistic:  -4.7317
P Value:  0.0000
The pvalue is less than alpha = 0.05, reject the null hypothesis

In [45]:
from scipy.stats import ttest_ind

In [46]:
Students_data.groupby('sex').mean()

           age      Dalc  absences         G1         G2         G3
sex
F    16.730769  1.254808  6.216346  10.620192  10.389423   9.966346
M    16.657754  1.732620  5.144385  11.229947  11.074866  10.914439

# Two sample t-test(independent)
even if male students had higher mean average in G1 compared to their female counterparts, the difference is not statistically significant

In [47]:
G1_male = Students_data.G1[Students_data.sex=='M']
G1_female = Students_data.G1[Students_data.sex=='F']

tscore, pvalue = ttest_ind(G1_male, G1_female, equal_var = False)
print("t Statistic: {:.4f}".format(tscore))
print("p value: {:.4f}".format(pvalue))

if pvalue<0.05:
    print('The pvalue is less than alpha = 0.05, reject the null hypothesis')
else:
        print('Since pvalue is greater than 0.05, there isno sufficient evidence to reject the null hypothesis')

t Statistic: 1.8237
p value: 0.0690
Since pvalue is greater than 0.05, there isno sufficient evidence to reject the null hypothesis

# paired sample t-test
mean difference in the weight of chicks before and two weeks after they are subject to new feed is statistically significant. Therefore we have enough evidence to reject the null hypothesis

In [48]:
from scipy.stats import ttest_rel

In [49]:
tscore, pvalue = ttest_rel(paired_data['Weight Before'], paired_data['Weight After'])
print("t Statistic: {:.4f}".format(tscore))
print("P Value: {:.4f}".format(pvalue))

if pvalue<0.05:
    print('The pvalue is less than alpha = 0.05, reject the null hypothesis')
else:
        print('Since pvalue is greater than 0.05, there isno sufficient evidence to reject the null hypothesis')

t Statistic: -18.8433
P Value: 0.0000
The pvalue is less than alpha = 0.05, reject the null hypothesis

# Correlation Between G1,G2 and G3 using Pearson r

In [56]:
from scipy.stats import spearmanr
from scipy.stats import pearsonr
from scipy.stats import kendalltau

In [57]:
cor, p_value = pearsonr(Students_data.G1, Students_data.G2)
print("correlation coefficient for G1 and G2: {:.4f}".format(cor))
print("P Value for G1 and G2: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G1 and G2***********')
        
cor, p_value = pearsonr(Students_data.G1, Students_data.G3)
print("correlation coefficient for G1 and G3: {:.4f}".format(cor))
print("P Value for G1 and G3: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G2 and G3***********')
        
cor, p_value = pearsonr(Students_data.G2, Students_data.G3)
print("correlation coefficient for G2 and G3: {:.4f}".format(cor))
print("P Value for G2 and G3: {:.4f}".format(p_value))

correlation coefficient for G1 and G2: 0.8521
P Value for G1 and G2: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G1 and G2***********
correlation coefficient for G1 and G3: 0.8015
P Value for G1 and G3: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G2 and G3***********
correlation coefficient for G2 and G3: 0.9049
P Value for G2 and G3: 0.0000

# Using spearmanr

In [58]:
cor, p_value = spearmanr(Students_data.G1, Students_data.G2)
print("correlation coefficient for G1 and G2: {:.4f}".format(cor))
print("P Value for G1 and G2: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G1 and G2***********')
        
cor, p_value = spearmanr(Students_data.G1, Students_data.G3)
print("correlation coefficient for G1 and G3: {:.4f}".format(cor))
print("P Value for G1 and G3: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G2 and G3***********')
        
cor, p_value = spearmanr(Students_data.G2, Students_data.G3)
print("correlation coefficient for G2 and G3: {:.4f}".format(cor))
print("P Value for G2 and G3: {:.4f}".format(p_value))

correlation coefficient for G1 and G2: 0.8948
P Value for G1 and G2: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G1 and G2***********
correlation coefficient for G1 and G3: 0.8780
P Value for G1 and G3: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G2 and G3***********
correlation coefficient for G2 and G3: 0.9571
P Value for G2 and G3: 0.0000

# Using Kendall Tau

In [59]:
cor, p_value = kendalltau(Students_data.G1, Students_data.G2)
print("correlation coefficient for G1 and G2: {:.4f}".format(cor))
print("P Value for G1 and G2: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G1 and G2***********')
        
cor, p_value = kendalltau(Students_data.G1, Students_data.G3)
print("correlation coefficient for G1 and G3: {:.4f}".format(cor))
print("P Value for G1 and G3: {:.4f}".format(p_value))
if p_value<0.05:
    print('The p_value is less than alpha = 0.05, correlation is statistically significant')
else:
        print('Correlation not statistically significant')
        
print('*************G2 and G3***********')
        
cor, p_value = kendalltau(Students_data.G2, Students_data.G3)
print("correlation coefficient for G2 and G3: {:.4f}".format(cor))
print("P Value for G2 and G3: {:.4f}".format(p_value))

correlation coefficient for G1 and G2: 0.7735
P Value for G1 and G2: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G1 and G2***********
correlation coefficient for G1 and G3: 0.7463
P Value for G1 and G3: 0.0000
The p_value is less than alpha = 0.05, correlation is statistically significant
*************G2 and G3***********
correlation coefficient for G2 and G3: 0.8835
P Value for G2 and G3: 0.0000

# Regression using stats model

In [60]:
import statsmodels.api as sm

In [61]:
mod = sm.OLS(Students_data.G3, Students_data.G1)
res = mod.fit()
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                     G3   R-squared (uncentered):                   0.940
Model:                            OLS   Adj. R-squared (uncentered):              0.940
Method:                 Least Squares   F-statistic:                              6212.
Date:                Fri, 27 Aug 2021   Prob (F-statistic):                   2.54e-243
Time:                        22:45:31   Log-Likelihood:                         -964.10
No. Observations:                 395   AIC:                                      1930.
Df Residuals:                     394   BIC:                                      1934.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
G1             0.9676      0.012     78.814      0.000       0.943       0.992
==============================================================================
Omnibus:                      135.559   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              356.630
Skew:                          -1.679   Prob(JB):                     3.62e-78
Kurtosis:                       6.223   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Multiple Linear Regression

In [63]:
predictors = Students_data[['G1','G2']]
response = Students_data.G3

mult_mod = sm.OLS(response, predictors)
mult_res = mult_mod.fit()
print(mult_res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                     G3   R-squared (uncentered):                   0.969
Model:                            OLS   Adj. R-squared (uncentered):              0.969
Method:                 Least Squares   F-statistic:                              6151.
Date:                Fri, 27 Aug 2021   Prob (F-statistic):                   2.71e-297
Time:                        22:51:30   Log-Likelihood:                         -834.58
No. Observations:                 395   AIC:                                      1673.
Df Residuals:                     393   BIC:                                      1681.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
G1             0.0067      0.051      0.132      0.895      -0.094       0.107
G2             0.9797      0.051     19.084      0.000       0.879       1.081
==============================================================================
Omnibus:                      261.432   Durbin-Watson:                   1.893
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1976.762
Skew:                          -2.899   Prob(JB):                         0.00
Kurtosis:                      12.299   Cond. No.                         11.5
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.